<!DOCTYPE html>
<html>
	<head>
		<title>Roman numbers converter | Server-side version</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Roman numbers converter | Server-side version</h1>
			<form>
				<div class="input-group">
				  	<input name="number" type="number" step="1" min="1" class="form-control" value="{{number}}">
				  	<div class="input-group-btn">
				    	<input type="submit" class="btn btn-primary">
				  	</div>
				</div>
			</form>
			<div id="result">{{result}}</div>
		</div>
	</body>
</html>